---
import Layout from "@/layouts/Layout.astro";
import Error from "@/sections/Error.astro";
import Footer from "@/sections/Footer.astro";
---

<Layout title="Eventares - Página no encontrada">
  <main>
    <Error error="404" message="Página no encontrada" />
  </main>
  <Footer />
</Layout>
