---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/sections/AboutMe.astro";
import Contact from "@/sections/Contact.astro";
import Events from "@/sections/Events.astro";
import FAQ from "@/sections/FAQ.astro";
import Footer from "@/sections/Footer.astro";
import Hero from "@/sections/Hero.astro";
import Quote1 from "@/sections/Quote1.astro";
import Quote2 from "@/sections/Quote2.astro";
---

<Layout title="EventAres">
	<main>
		<Hero />
		<Quote1 />
		<AboutMe />
		<Quote2 />
		<Events />
		<Quote1 />
		<FAQ />
		<Quote1 />
		<Contact />
	</main>
	<Footer />
</Layout>
