---
import WhatsappButton from "@/components/WhatsappButton.astro";
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/sections/AboutMe.astro";
import Budget from "@/sections/Budget.astro";
import Contact from "@/sections/Contact.astro";
import Events from "@/sections/Events.astro";
import FAQ from "@/sections/FAQ.astro";
import Footer from "@/sections/Footer.astro";
import Hero from "@/sections/Hero.astro";
import Quote1 from "@/sections/Quote1.astro";
import Quote2 from "@/sections/Quote2.astro";
import Quote3 from "@/sections/Quote3.astro";
---

<Layout title="EventAres">
	<main>
		<Hero />
		<Quote1>
			“En EventAres nos comprometemos a superar las expectativas y hacer
			realidad vuestras visiones más extraordinarias. ¡Únete a nosotros para
			hacer magia juntos!”
		</Quote1>
		<AboutMe />
		<Quote2>
			“Destacamos por nuestro enfoque en escuchar atentamente a nuestros
			clientes.<br />Creemos que la verdadera magia de un evento radica en
			comprender sus necesidades y deseos más profundos.”
		</Quote2>
		<Events />
		<Quote3>
			“Cada detalle se cuida con esmero y cada momento se planifica con pasión,
			para crear experiencias que perduran en la memoria.”
		</Quote3>
		<FAQ />
		<Quote1>
			“Nuestra filosofía se basa en poner el corazón y el alma en cada evento
			que organizamos, prestando atención a los detalles más pequeños y a las
			necesidades específicas de cada cliente.”
		</Quote1>
		<Contact />
	</main>
	<Footer />
	<Budget />
	<WhatsappButton />
</Layout>
