<form
  target="_blank"
  action="https://formsubmit.co/info@eventares.com"
  method="POST"
  class="contact__form max-w-5xl flex flex-col mx-auto gap-9"
>
  <div class="flex flex-col justify-center items-start w-full gap-2">
    <label
      for="nombre"
      class="text-white uppercase tracking-[0.1em] after:content-['*'] after:ml-0.5 after:text-red-500"
      >Nombre Completo</label
    >
    <input
      type="text"
      name="nombre"
      class="contact__form-name w-full h-[60px] px-5 outline-0"
      placeholder="Introduce tu nombre completo (nombre y apellidos)"
      required
    />
  </div>
  <div class="flex flex-col justify-center items-start w-full gap-2">
    <label
      for="email"
      class="text-white uppercase tracking-[0.1em] after:content-['*'] after:ml-0.5 after:text-red-500"
      >Email</label
    >
    <input
      type="email"
      name="email"
      class="contact__form-email w-full h-[60px] px-5 outline-0"
      placeholder="Introduce tu email"
      required
    />
  </div>
  <div class="flex flex-col justify-center items-start w-full gap-2">
    <label
      for="mensaje"
      class="text-white uppercase tracking-[0.1em] after:content-['*'] after:ml-0.5 after:text-red-500"
      >Cuéntame lo que necesitas</label
    >
    <textarea
      name="mensaje"
      class="contact__form-message w-full px-5 py-4 min-h-[60px] h-[200px] outline-0"
      style="form-sizing: content;"
      placeholder="Escribe aquí..."
      required></textarea>
  </div>
  <input
    type="submit"
    class="contact__form-button bg-white text-black uppercase tracking-[0.2em] font-medium self-center w-[240px] h-16 hover:scale-105 hover:bg-accent hover:text-white transition-all cursor-pointer"
    value="Enviar"
  />
</form>

<script>
  const $submitButton = document.querySelector(
    ".contact__form-button",
  ) as HTMLInputElement;
  const $formName = document.querySelector(
    ".contact__form-name",
  ) as HTMLInputElement;
  const $formEmail = document.querySelector(
    ".contact__form-email",
  ) as HTMLInputElement;
  const $formMessage = document.querySelector(
    ".contact__form-message",
  ) as HTMLInputElement;

  $submitButton.addEventListener("click", (e) => {
    setTimeout(() => {
      $formName.value = "";
      $formEmail.value = "";
      $formMessage.value = "";
    }, 1000);
  });
</script>
