---

---

<header class="w-full h-40 px-10 flex items-center justify-between">
  <a href="#home">
    <img
      class="w-[245px] h-auto"
      src="/img/EventAresLogo.webp"
      alt="Logo EventAres"
    />
  </a>
  <nav
    class="flex text-white gap-8 uppercase tracking-[0.1em] justify-center font-medium"
  >
    <a href="#">Sobre mí</a>
    <a href="#">Eventos</a>
    <a href="#">FAQ</a>
    <a href="#">Contacto</a>
    <a href="#">Blog</a>
  </nav>
  <button
    class="bg-white w-72 h-16 py-5 uppercase tracking-[0.2em] text-center align-middle font-medium"
    >Pide tu presupuesto</button
  >
</header>
