---
import ChevronDown from "@/components/ChevronDown.astro";
---

<header
  class="hidden top-0 z-10 bg-black w-full lg:h-32 xl:h-40 lg:px-8 xl:px-10 xl:flex xl:flex-row xl:items-center xl:justify-between sticky"
>
  <a href="/#home">
    <img
      class="lg:w-[220px] xl:w-[245px] h-auto hover:scale-105 transition-transform"
      src="/img/EventAresLogo.webp"
      alt="Logo EventAres"
    />
  </a>
  <nav
    class="flex text-white lg:gap-4 xl:gap-8 uppercase tracking-[0.1em] xl:justify-center items-center font-medium select-none"
  >
    <a class="hover:text-accent transition-colors" href="/#about-me">Sobre mí</a
    >
    <div class="relative">
      <button
        class="dropdown-button flex justify-center items-center uppercase tracking-[0.1em] gap-1 cursor-pointer hover:text-accent transition-colors"
      >
        <span>Eventos</span>
        <ChevronDown class:list={"w-6 h-6 transition-transform"} />
      </button>
      <div class="absolute hidden bg-black py-3 px-4">
        <a
          href="/#eventos-corporativos"
          class="block py-2 hover:text-accent transition-colors">Corporativos</a
        >
        <a
          href="/#eventos-sociales"
          class="block py-2 hover:text-accent transition-colors">Sociales</a
        >
      </div>
    </div>
    <a class="hover:text-accent transition-colors" href="/#services"
      >Servicios</a
    >
    <a class="hover:text-accent transition-colors" href="/#faq">FAQ</a>
    <a class="hover:text-accent transition-colors" href="/#contact">Contacto</a>
    <a
      href="#"
      class="flex flex-col justify-center items-center pointer-events-none"
      >Blog<br /><span
        class="text-accent -skew-x-6 text-xs font-light tracking-normal gap-1 opacity-100"
        >Próximamente...</span
      ></a
    >
  </nav>
  <button
    class="open-modal bg-accent lg:w-64 xl:w-72 h-16 uppercase tracking-[0.2em] text-center align-middle font-medium text-white hover:scale-105 transition-transform"
  >
    Pide tu presupuesto
  </button>
</header>

<script>
  const $dropDownButton = document.querySelector(".dropdown-button");

  $dropDownButton?.addEventListener("click", () => {
    const $dropDownMenu = $dropDownButton.nextElementSibling;

    if ($dropDownMenu?.classList.contains("hidden")) {
      $dropDownButton.querySelector("svg")?.classList.add("rotate-180");
      $dropDownMenu?.classList.remove("hidden");
    } else {
      $dropDownButton.querySelector("svg")?.classList.remove("rotate-180");
      $dropDownMenu?.classList.add("hidden");
    }
  });
</script>
