<section
  id="about-me"
  class="px-8 py-10 md:px-12 lg:px-20 lg:py-20 xl:py-40 2xl:px-40 bg-black flex flex-col lg:flex-row-reverse justify-center items-center gap-5 lg:gap-10 2xl:gap-20 2xl:max-w-[1920px] 2xl:mx-auto"
>
  <picture class="lg:w-1/2">
    <img
      src="/img/maria-photos/maria.webp"
      alt="Foto de María Redondo"
      class="w-full lg:max-w-[570px] xl:max-w-[760px] 2xl:max-w-[900px] h-auto drop-shadow-[10px_10px_0px_rgb(255,255,255)] md:drop-shadow-[20px_20px_0px_rgb(255,255,255)]"
    />
  </picture>
  <article
    class="flex flex-col justify-center items-center lg:items-start w-full lg:w-1/2 gap-5 lg:gap-8"
  >
    <h2
      class="text-white font-noto-serif font-bold text-3xl md:text-4xl lg:text-5xl xl:text-6xl leading-normal md:leading-relaxed lg:leading-relaxed xl:leading-relaxed text-center lg:text-left"
    >
      ¡Encantada! Soy <br /> María Redondo
    </h2>
    <div
      class="text-white flex flex-col gap-3 font-extralight w-full lg:max-w-[60ch]"
    >
      <p>
        Fundadora de EventAres, un proyecto que nació en 2010 tras mi
        inspiradora experiencia trabajando con la Fundación Sagorday.
      </p>
      <p>
        Fue allí donde descubrí mi verdadera pasión: crear eventos para personas
        y empresas a nivel corporativo y personal.
      </p>
    </div>
    <a
      href="#"
      class="flex justify-center items-center w-full lg:max-w-[300px] h-20 bg-white uppercase tracking-[0.2em] font-medium cursor-pointer"
      >Contáctame</a
    >
  </article>
</section>
