---
import SocialCarousel from "@/components/SocialCarousel.astro";
import CorporateCarousel from "@/components/CorporateCarousel.astro";
---

<!-- TODO buscar otro tipo de carrusel, swiper es una basura -->
<section>
  <article class="bg-black w-full">
    <CorporateCarousel />
  </article>
  <article class="bg-white w-full">
    <SocialCarousel />
  </article>
</section>
