---
import Accordion from "@/components/Accordion.astro";
---

<section id="faq" class="px-8 md:px-10 py-10 xl:py-20 bg-black">
  <h2
    class="font-noto-serif text-white text-center text-3xl md:text-4xl lg:text-5xl xl:text-6xl uppercase font-bold mb-10 md:mb-[60px]"
  >
    Preguntas Frecuentes
  </h2>
  <Accordion />
</section>
