---
import FacebookIcon from "@/components/FacebookIcon.astro";
import InstagramIcon from "@/components/InstagramIcon.astro";
import LinkedinIcon from "@/components/LinkedinIcon.astro";
---

<footer
  class="relative max-w-6xl mt-20 mx-8 md:mx-10 xl:mx-auto flex flex-col gap-y-8 place-items-center pb-20 pt-14 md:flex-row md:justify-between md:pt-16 text-white"
>
  <hr
    class="absolute top-0 left-0 h-[1px] border-t-0 bg-white w-full min-w-[18rem] mx-auto"
  />
  <div class="flex flex-col gap-4 text-center md:flex-row lg:gap-6">
    <span class="text-xl text-center"
      >© 2024 EventAres <span aria-hidden="true" class="hidden md:inline"
        >|</span
      ><br aria-hidden="true" class="block md:hidden" /> Todos los derechos reservados.</span
    >
  </div>
  <nav>
    <ul class="flex flex-row items-center gap-x-6">
      <li>
        <a
          target="_blank"
          rel="noopener"
          aria-label="Instagram de EventAres, se abrirá en una nueva pestaña"
          href="https://www.instagram.com/eventaresmadrid"
          class:list={"inline-block hover:scale-125 hover:opacity-70 transition-all"}
        >
          <InstagramIcon
            class="text-white transition-colors duration-300 hover:text-accent motion-reduce:duration-0"
          />
        </a>
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener"
          aria-label="LinkedIn de EventAres, se abrirá en una nueva pestaña"
          href="https://www.linkedin.com/in/mar%C3%ADa-jes%C3%BAs-redondo-ares-17484064/"
          class:list={"inline-block hover:scale-125 hover:opacity-70 transition-all"}
        >
          <LinkedinIcon
            class="text-white transition-colors duration-300 hover:text-accent motion-reduce:duration-0"
          />
        </a>
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener"
          aria-label="Facebook de EventAres, se abrirá en una nueva pestaña"
          href="https://www.instagram.com/eventaresmadrid"
          class:list={"inline-block hover:scale-125 hover:opacity-70 transition-all pointer-events-none"}
        >
          <FacebookIcon
            class="text-white transition-colors duration-300 hover:text-accent motion-reduce:duration-0"
          />
        </a>
      </li>
    </ul>
  </nav>
</footer>
