<section
  class="relative bg-black h-[calc(100vh-100px)] lg:h-[calc(100vh-8rem)] xl:h-[calc(100vh-10rem)]"
>
  <div
    class="h-full flex justify-center items-center text-center text-white text-4xl md:text-6xl xl:text-[80px] 2xl:text-8xl tracking-[0.1em] md:tracking-[0.2em] uppercase"
  >
    <div
      class="bg-cover bg-left opacity-80 h-full w-full xl:w-3/5 2xl:w-4/6 bg-[url('/img/social-events/flores9.webp')]"
    >
    </div>
    <div
      class="hidden relative xl:block bg-cover bg-left bg-no-repeat bg-origin-content w-full lg:h-[70%] xl:w-2/5 2xl:w-2/6 xl:px-16 bg-[url('/img/social-events/japon8.webp')] drop-shadow-[20px_20px_0_rgba(255,255,255,1)]"
    >
      <!-- TODO Solucionar el resize que hace en pantallas muy grandes -->
      <div class="bg-[rgba(0,0,0,0.2)] h-full w-full object-fill"></div>
    </div>
    <h1
      class="absolute mx-auto drop-shadow-[2.5px_2.5px_0_rgba(0,0,0,0.75)] md:drop-shadow-[3px_3px_0_rgba(0,0,0,0.75)] xl:drop-shadow-[5px_5px_0_rgba(0,0,0,0.75)] font-noto-serif font-bold"
    >
      Organizamos <br /><br /> Experiencias
    </h1>
  </div>
</section>
