<section
  class="flex flex-col bg-white font-noto-serif text-center w-full px-8 pt-10 md:px-16 xl:px-20 gap-10"
>
  <h3
    class="text-[18px] md:text-3xl xl:text-4xl 2xl:text-6xl 2xl:leading-tight"
  >
    <slot />
  </h3>
  <img
    src="/img/maria-photos/maria_palacio_1.webp"
    alt="Foto de montaje de evento social"
    class="w-full h-auto"
  />
</section>
