<section
  class="flex px-8 xl:px-20 py-10 xl:py-20 w-full justify-center items-center font-noto-serif text-center bg-white"
>
  <h3
    class="text-[18px] md:text-3xl xl:text-4xl 2xl:text-6xl 2xl:leading-tight w-[80ch]"
  >
    <slot />
  </h3>
</section>
