<section
  class="flex px-8 xl:px-20 py-10 xl:py-20 w-full justify-center items-center text-white text-center font-noto-serif bg-cover bg-[url('/img/bg/flowers_quote_dark.webp')]"
>
  <h3
    class="drop-shadow-[2px_2px_2px_rgba(0,0,0,0.5)] text-[18px] md:text-3xl xl:text-4xl 2xl:text-6xl 2xl:leading-tight w-[80ch]"
  >
    <slot />
  </h3>
</section>
